.section-width__narrow {
    max-width: 984px;
}

@media screen and (max-width: 1023px) {
    .section-width__narrow{
        max-width: 720px;
    }
    
}

@media screen and (max-width: 767px) {
    .section-width__narrow{
        max-width: 288px;
    }
}