.lead {
    margin: 0 auto 92px;
    max-width: 984px;
}

@media screen and (max-width: 1279px) {
    .lead {
        min-height: 480px;
        margin-bottom: 88px;
        max-width: 928px;
    }   
}

@media screen and (max-width: 1023px) {
   .lead{
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        min-height: 406px;
        margin-bottom: 64px;
    }   
}