.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 52px;
    box-sizing: border-box;
    padding-top: 28px;
    margin: 0 auto;
    margin-bottom: 56px;
}
