.intro {
    width: 100%;
margin-bottom: 92px;
}

@media screen and (max-width: 1279px) {
    .intro{
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .intro{
        margin-bottom: 64px;
    }
}