.footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 auto;
    padding-bottom: 24px;
    max-width: 1184px;
    /* min-height: 14px; */
}

@media screen and (max-width: 1279px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 26px;
        max-width: 720px;
        padding: 0 16px 24px;
    }
}

@media screen and (max-width: 449px) {
    .footer {
        flex-direction: column;
        gap: 48px;
        max-width: 288px;
    }
}
