.footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 auto;

}

@media screen and (max-width: 767px) {
    .footer{
        display: flex;
        flex-direction: column;
        gap: 48px;
        margin-bottom: 24px;
    }
}