.palces__url-heading {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: left;
    color: #aaaaaa;
    fill: solid;
    margin: 0;
    margin-bottom: 12px;
}

@media screen and (max-width: 767px) {
    .palces__url-heading{
        padding-left: 16px;
    }
}